@model IEnumerable<net.Models.Propietario>
@{
    ViewData["Title"] = "Propietarios";
}

<div class="text-center">
    <h1>Propietarios registrados:</h1>
</div>
<div class="row mb-3">
    <div class="col-md-6 d-flex align-items-center">

        <div class="btn-group" role="group" aria-label="Filtros de estado">
            <button type="button" class="btn btn-outline-primary" id="todosBtn">Todos</button>
            <button type="button" class="btn btn-outline-success" id="activoBtn">Activos</button>
            <button type="button" class="btn btn-outline-danger" id="desactivadoBtn">Inactivos</button>
        </div>
    </div>
</div>
<table id="propietariosTable" class="hover compact row-border">
    <thead  class="bg-dark text-white">
        <tr>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Telefono</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr  class="@(item.EstadoP == false ?  "bg-inactivos" : "")">
                <td>@(item.Dni)</td>
                <td>@(item.Nombre)</td>
                <td>@(item.Apellido)</td>
                <td>@(item.Telefono)</td>
                <td>@(item.Email)</td>
                <td>
                    <a href="/Propietario/Detalle/@item.PropietarioId"><i class="fa-solid fa-eye"></i></a>
                    @if(item.EstadoP == true && User.IsInRole("Administrador"))
					{
                        <span> | </span><a href="/Propietario/Edicion/@item.PropietarioId"><i class="fa-solid fa-pen-to-square"></i></a><span> | </span>
                        <a href="#" class="text-danger eliminar" data-url="/Propietario/Eliminar?id=@item.PropietarioId"><i class="fa-solid fa-trash"></i></a>
					}else if(item.EstadoP == false && User.IsInRole("Administrador"))
                    {
                        <span> | </span><a href="#" data-url="/Propietario/Activar/@item.PropietarioId" class="text-success activar"><i class="fa-solid fa-trash-arrow-up"></i></a>
					}else if(item.EstadoP == true )
                    {
                        <span> | </span><a href="/Propietario/Edicion/@item.PropietarioId"><i class="fa-solid fa-pen-to-square"></i></a>
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="6"><a href="/Propietario/Edicion/"><i class="fa-solid fa-plus"></i></a></td>
        </tr>
    </tfoot>
</table>

@section Scripts{

    <script>
        $(document).ready(function() {
             function cargarPropietarios(estado) {
				$.ajax({
					url: '@Url.Action("Index", "Propietario")',
					type: 'GET',
					data: {
						estado: estado
					},
					success: function (result) {
						$('#propietariosTable tbody').html($(result).find('#propietariosTable tbody').html());
                        cargarEventos(); // PQ cuando vuelvo a cargar la tabla no carga los eventos
					}
				});
			}
            function cargarEventos() {
                $('#todosBtn').on('click', function (e) {
                    e.preventDefault();
                    cargarPropietarios(''); 
                });

                $('#activoBtn').on('click', function (e) {
                    e.preventDefault();
                    cargarPropietarios('activo'); 
                });

                $('#desactivadoBtn').on('click', function (e) {
                    e.preventDefault();
                    cargarPropietarios('inactivo'); 
                });
                $('.eliminar').click(function(e) {
                    e.preventDefault(); 
                    var url = $(this).data('url'); 
                    Swal.fire({
                        title: "¿Eliminar Propietario?",
                        text: "Quedará inactivo",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#3085d6",
                        cancelButtonColor: "#d33",
                        confirmButtonText: "Eliminar",
                        cancelButtonText: "Cancelar"
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = url;
                        }
                    });
                });
                $('.activar').click(function(e) {
                    e.preventDefault(); 
                    var url = $(this).data('url'); 
                    Swal.fire({
                        title: "¿Activar propietario?",
                        text: "Estara disponible para nuevos inmuebles",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#3085d6",
                        cancelButtonColor: "#d33",
                        confirmButtonText: "Activar",
                        cancelButtonText: "Cancelar"
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = url;
                        }
                    });
                });
            }
            cargarEventos();
        });
        
    </script>
}