@model IEnumerable<net.Models.Propietario>
@{
    ViewData["Title"] = "Propietarios";
}

<div class="text-center">
    <h3 class="display-4">Propietarios registrados:</h3>
	
</div>
<table id="propietariosTable" class="table display">
    <thead>
        <tr>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Dni)</td>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.Apellido)</td>
                <td class="text-end">
                    <a href="/Propietario/Edicion/@item.PropietarioId"><i class="fa-solid fa-pen-to-square"></i></a> |
                    <a href="/Propietario/Detalle/@item.PropietarioId"><i class="fa-solid fa-eye"></i></a> |
                    <a href="/Propietario/Eliminar/@item.PropietarioId"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4"><a href="/Propietario/Edicion/"><i class="fa-solid fa-plus"></i></a></td>
        </tr>
    </tfoot>
</table>

@section Scripts{

    <script>
        @if (TempData["Mensaje"] != null)
        {
            <text>
            Swal.fire({
                position: "center",
                icon: "success",
                text: '@TempData["Mensaje"]',
                showConfirmButton: false,
                timer: 1500
                });
            </text>
        }
    </script>
    <script>
    @if (TempData["Error"] != null)
    {
        <text>
        Swal.fire({
            position: "center",
            icon: "error",
            text: '@TempData["Error"]',
            showConfirmButton: false,
            timer: 1500
            });
        </text>
    }
    </script>
}