@model net.Models.Inmueble
@{
    ViewData["Title"] = "Editar Inmueble";
	int id = Model==null ? 0 : Model.InmuebleId;
	var Propietarios = (IList<Propietario>)ViewBag.Propietarios;
    var Usos = (IList<UsoInmueble>)ViewBag.Usos;
    var Tipos = (IList<TipoInmueble>)ViewBag.Tipos;
    var Direcciones = (IList<Direccion>)ViewBag.Direcciones;
    @* var Direcciones = ViewBag.Direcciones as IList<Direccion> ?? new List<Direccion>();
    var Propietarios = ViewBag.Propietarios as IList<Propietario> ?? new List<Propietario>();
    var Usos = ViewBag.Usos as IList<UsoInmueble> ?? new List<UsoInmueble>();
    var Tipos = ViewBag.Tipos as IList<TipoInmueble> ?? new List<TipoInmueble>(); *@
}

<div class="text-center">
    <h1 class="display-4">@((id== 0) ? "Crear nuevo inmueble" : "Editar inmueble"):</h1>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Guardar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="InmuebleId" value="@id"/>
            <div class="form-group">
                <label asp-for="Direccion.Calle" class="control-label"></label>
                <input asp-for="Direccion.Calle" class="form-control" />
                <span asp-validation-for="Direccion.Calle" class="text-danger"></span>
            </div>
               <div class="form-group">
                <label asp-for="Direccion.Altura" class="control-label"></label>
                <input asp-for="Direccion.Altura" class="form-control" />
                <span asp-validation-for="Direccion.Altura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion.Piso" class="control-label"></label>
                <input asp-for="Direccion.Piso" class="form-control" />
                <span asp-validation-for="Direccion.Piso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion.Departamento" class="control-label"></label>
                <input asp-for="Direccion.Departamento" class="form-control" />
                <span asp-validation-for="Direccion.Departamento" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Direccion.Observaciones" class="control-label"></label>
                <input asp-for="Direccion.Observaciones" class="form-control" />
                <span asp-validation-for="Direccion.Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitud" class="control-label">Latitud</label>
                <input asp-for="Latitud" class="form-control" />
                <span asp-validation-for="Latitud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitud" class="control-label">Longitud</label>
                <input asp-for="Longitud" class="form-control" />
                <span asp-validation-for="Longitud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Propietario</label>
                <select class="form-control" name="IdPropietario">
                    @foreach (var item in Propietarios)
                    {
                        @:<option @(item.PropietarioId==Model?.IdPropietario ? "selected" : "") value="@item.PropietarioId">@(item.ToString())</option>
                    }
                </select>
                <span asp-validation-for="IdPropietario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Uso</label>
                <select class="form-control" name="UsoInmueble">
                    @foreach (var item in Usos)
                    {
                        @:<option @(item.UsoId==Model?.IdUso ? "selected" : "") value="@item.UsoId">@(item.UsoValor)</option>
                    }
                </select>
                <span asp-validation-for="UsoInmueble" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Tipo</label>
                <select class="form-control" name="TipoInmueble">
                    @foreach (var item in Tipos)
                    {
                        @:<option @(item.TipoId==Model?.IdTipo ? "selected" : "") value="@item.TipoId">@(item.Valor)</option>
                    }
                </select>
                <span asp-validation-for="TipoInmueble" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ambientes" class="control-label">Ambientes</label>
                <input asp-for="Ambientes" class="form-control" />
                <span asp-validation-for="Ambientes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label">Precio</label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label">Estado</label>
                <select asp-for="Estado" class="form-control">
                    <option value=1>Activo</option>
                    <option value=0>Inactivo</option>
                </select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al listado</a>
</div>