@model IEnumerable<net.Models.Inmueble>
@{
    ViewData["Title"] = "Inmuebles";
}

<div class="text-center">
    <h3 class="display-4">Inmuebles registrados:</h3>
	
</div>
<table class="table">
	<thead>
		<tr>
			<th>
				ID
			</th>
			<th>
				Dirección
			</th>
			<th>
				Propietario
			</th>
			<th>
				Uso
			</th>
			<th>
				Tipo
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@(item.Direccion != null ? item.Direccion.ToString() : "Dirección no disponible")
				</td>
				<td>
					@(item.Propietario != null ? item.Propietario.ToString() : "Propietario no disponible")
				</td>
				<td>
					@(item.UsoInmueble != null ? item.UsoInmueble.ToString() : "Uso no disponible")
				</td>
				<td>
					@(item.TipoInmueble != null ? item.TipoInmueble.ToString() : "Tipo no disponible")
				</td>
				<td>
                    <a href="/Inmueble/Edicion/@item.Id"><i class="fa-solid fa-pen-to-square"></i></a>|
					<a href="/Inmueble/Detalle/@item.Id"><i class="fa-solid fa-eye"></i></a>|
					<a href="/Inmueble/Eliminar/@item.Id"><i class="fa-solid fa-trash"></i></a>
				</td>
			</tr>
		}
		
	</tbody>
	<tfoot>
		<tr>
			<td>
				<a href="/Inmueble/Edicion/"> <i class="fa-solid fa-plus"></i></a>
			</td>
		</tr>
	</tfoot>
</table>


@section Scripts{
	<script>
		
	</script>
}