@model IEnumerable<net.Models.Inmueble>
@{
    ViewData["Title"] = "Inmuebles";
}

<div class="text-center">
    <h3 class="display-4">Inmuebles registrados:</h3>
</div>

<div class="row mb-3">
    <div class="col-md-6 d-flex align-items-center">

        <div class="btn-group" role="group" aria-label="Filtros de estado">
            <button type="button" class="btn btn-outline-primary" id="todosBtn">Todos</button>
            <button type="button" class="btn btn-outline-success" id="activoBtn">Activos</button>
            <button type="button" class="btn btn-outline-danger" id="desactivadoBtn">Inactivos</button>
        </div>
    </div>
</div>

<table class="table display" id="inmueblesTable">
	<thead>
		<tr>
			<th>
				ID
			</th>
			<th>
				Dirección
			</th>
			<th>
				Propietario
			</th>
			<th>
				Uso
			</th>
			<th>
				Tipo
			</th>
			<th>
				Estado
			</th>
			<th>
				Acciones
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.InmuebleId)
				</td>
				<td>
					@(item.Direccion != null ? item.Direccion.ToString() : "Dirección no disponible")
				</td>
				<td>
					@(item.Propietario != null ? item.Propietario.ToString() : "Propietario no disponible")
				</td>
				<td>
					@(item.UsoInmueble != null ? item.UsoInmueble.ToString() : "Uso no disponible")
				</td>
				<td>
					@(item.TipoInmueble != null ? item.TipoInmueble.ToString() : "Tipo no disponible")
				</td>
				<td>@(item.Estado ? "Activo" : "Desactivado")</td>
				<td>
					<a href="/Inmueble/Edicion/@item.InmuebleId"><i class="fa-solid fa-pen-to-square"></i></a>|
					<a href="/Inmueble/Detalle/@item.InmuebleId"><i class="fa-solid fa-eye"></i></a>|
					@if (item.Estado == true)
						{
							<a href="#" data-url="/Inmueble/Eliminar/@item.InmuebleId" class="text-danger desactivar"><i class="fa-solid fa-trash"></i></a>
						}else{
							<a href="#" data-url="/Inmueble/Activar/@item.InmuebleId" class="text-success activar"><i class="fa-solid fa-trash-arrow-up"></i></a>
						}
				</td>
			</tr>
		}

	</tbody>
	<tfoot>
		<tr>
			<td>
				<a href="/Inmueble/Edicion/"> <i class="fa-solid fa-plus"></i></a>
			</td>
		</tr>
	</tfoot>
</table>


@section Scripts{
	<script>
		$(document).ready(function() {
			//Inicializar DataTable
            var table = $('#inmueblesTable').DataTable();

            //Sin filtro
            $('#todosBtn').on('click', function() {
                table.columns(5).search('').draw();//Aca le seteas el filtro a la columna de estados
            });

            //Aca Filtro por activados
            $('#activoBtn').on('click', function() {
                table.columns(5).search('Activo').draw();//Aca le seteo el Activo
            });

            //Aca filtro por desactivados
            $('#desactivadoBtn').on('click', function() {
                table.columns(5).search('Desactivado').draw();//Aca le seteo desactivado
            });

			$('.desactivar').click(function(e) {
				e.preventDefault(); 
				var url = $(this).data('url'); 
				Swal.fire({
					title: "¿Desactivar inmueble?",
					text: "No estara disponible para nuevos contratos",
					icon: "warning",
					showCancelButton: true,
					confirmButtonColor: "#3085d6",
					cancelButtonColor: "#d33",
					confirmButtonText: "Desactivar",
					cancelButtonText: "Cancelar"
				}).then((result) => {
					if (result.isConfirmed) {
						window.location.href = url;
					}
				});
			});

			$('.activar').click(function(e) {
				e.preventDefault(); 
				console.log("Activar clickeado");
				var url = $(this).data('url'); 
				Swal.fire({
					title: "¿Activar inmueble?",
					text: "Estara disponible para nuevos contratos",
					icon: "warning",
					showCancelButton: true,
					confirmButtonColor: "#3085d6",
					cancelButtonColor: "#d33",
					confirmButtonText: "Activar",
					cancelButtonText: "Cancelar"
				}).then((result) => {
					if (result.isConfirmed) {
						window.location.href = url;
					}
				});
			});
		});
		@if (TempData["Mensaje"] != null)
		{
			<text>
			Swal.fire({
				position: "center",
				icon: "success",
				text: '@TempData["Mensaje"]',
				showConfirmButton: false,
				timer: 1500
				});
			</text>
		}

		@if (TempData["Error"] != null)
		{
			<text>
			Swal.fire({
				position: "center",
				icon: "error",
				text: '@TempData["Error"]',
				showConfirmButton: false,
				timer: 1500
				});
			</text>
		}
	</script>
}