@model IEnumerable<net.Models.Inquilino>
@{
    ViewData["Title"] = "Inquilinos";
}

<div class="text-center">
    <h1>Inquilinos registrados:</h1>
</div>
<div class="row mb-3">
    <div class="col-md-6 d-flex align-items-center">

        <div class="btn-group" role="group" aria-label="Filtros de estado">
            <button type="button" class="btn btn-outline-primary" id="todosBtn">Todos</button>
            <button type="button" class="btn btn-outline-success" id="activoBtn">Activos</button>
            <button type="button" class="btn btn-outline-danger" id="desactivadoBtn">Inactivos</button>
        </div>
    </div>
</div>
<table id="inquilinosTable" class="hover compact row-border">
    <thead  class="bg-dark text-white">
        <tr>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Telefono</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="@(item.EstadoI == false ?  "bg-inactivos" : "")">
                <td>@(item.DniI)</td>
                <td>@(item.NombreI)</td>
                <td>@(item.ApellidoI)</td>
                <td>@(item.TelefonoI)</td>
                <td>@item.EmailI</td>
                <td>
                    <a href="/Inquilino/Detalle/@item.InquilinoId"><i class="fa-solid fa-eye"></i></a>
                    @if(item.EstadoI == true && User.IsInRole("Administrador"))
					{
                        <span> | </span><a href="/Inquilino/Edicion/@item.InquilinoId"><i class="fa-solid fa-pen-to-square"></i></a><span> | </span>
                        <a href="#" class="text-danger eliminar" data-url="/Inquilino/Eliminar/@item.InquilinoId"><i class="fa-solid fa-trash"></i></a>
					}else if(item.EstadoI == false && User.IsInRole("Administrador"))
                    {
                        <span> | </span><a href="#" data-url="/Inquilino/Activar/@item.InquilinoId" class="text-success activar"><i class="fa-solid fa-trash-arrow-up"></i></a>
					}else if(item.EstadoI == true )
                    {
                        <span> | </span><a href="/Inquilino/Edicion/@item.InquilinoId"><i class="fa-solid fa-pen-to-square"></i></a>
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="6"><a href="/Inquilino/Edicion/"><i class="fa-solid fa-plus"></i></a></td>
        </tr>
    </tfoot>
</table>

@section Scripts{
    <script>
        $(document).ready(function() {
            function cargarInquilinos(estado) {
				$.ajax({
					url: '@Url.Action("Index", "Inquilino")',
					type: 'GET',
					data: {
						estado: estado
					},
					success: function (result) {
						$('#inquilinosTable tbody').html($(result).find('#inquilinosTable tbody').html());
                        cargarEventos(); // PQ cuando vuelvo a cargar la tabla no carga los eventos
					}
				});
			}
            function cargarEventos() {
                $('#todosBtn').on('click', function (e) {
                    e.preventDefault();
                    cargarInquilinos(''); 
                });

                $('#activoBtn').on('click', function (e) {
                    e.preventDefault();
                    cargarInquilinos('activo'); 
                });

                $('#desactivadoBtn').on('click', function (e) {
                    e.preventDefault();
                    cargarInquilinos('inactivo'); 
                });

                $('.eliminar').click(function(e) {
                    e.preventDefault(); 
                    var url = $(this).data('url'); 
                    Swal.fire({
                        title: "¿Eliminar Inquilino?",
                        text: "Los datos se eliminan definitivamente",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#3085d6",
                        cancelButtonColor: "#d33",
                        confirmButtonText: "Eliminar",
                        cancelButtonText: "Cancelar"
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = url;
                        }
                    });
                });

                $('.activar').click(function(e) {
                    e.preventDefault(); 
                    var url = $(this).data('url'); 
                    Swal.fire({
                        title: "¿Activar inquilino?",
                        text: "Estara disponible para nuevos contratos",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#3085d6",
                        cancelButtonColor: "#d33",
                        confirmButtonText: "Activar",
                        cancelButtonText: "Cancelar"
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = url;
                        }
                    });
                });
            }
            cargarEventos();// paraq me los cargue la primera ve<
        });
       
    </script>
}