@model IEnumerable<net.Models.Inquilino>
@{
    ViewData["Title"] = "Inquilinos";
}

<div class="text-center">
    <h3 class="display-4">Inquilinos registrados:</h3>
</div>

<table id="inquilinosTable" class="table display">
    <thead>
        <tr>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Dni)</td>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.Apellido)</td>
                <td class="text-end">
                    <a href="/Inquilino/Edicion/@item.InquilinoId"><i class="fa-solid fa-pen-to-square"></i></a> |
                    <a href="/Inquilino/Detalle/@item.InquilinoId"><i class="fa-solid fa-eye"></i></a> |
                    <a href="/Inquilino/Eliminar/@item.InquilinoId"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4"><a href="/Inquilino/Edicion/"><i class="fa-solid fa-plus"></i></a></td>
        </tr>
    </tfoot>
</table>

@section Scripts{
    <script>
        @if (TempData["Mensaje"] != null)
            {
                <text>
                Swal.fire({
                    title: '¡Éxito!',
                    text: '@TempData["Mensaje"]',
                    icon: 'success',
                    confirmButtonText: 'OK'
                });
                </text>
            }
    </script>
    <script>
    @if (TempData["Error"] != null)
    {
        <text>
        Swal.fire({
            position: "center",
            icon: "error",
            text: '@TempData["Error"]',
            showConfirmButton: false,
            timer: 1500
            });
        </text>
    }
    </script>
}