@model IEnumerable<net.Models.Inquilino>
@{
    ViewData["Title"] = "Inquilinos";
}

<div class="text-center">
    <h3 class="display-4">Inquilinos registrados:</h3>
</div>

<table id="inquilinosTable" class="table row-border dt-center">
    <thead>
        <tr>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.DniI)</td>
                <td>@Html.DisplayFor(modelItem => item.NombreI)</td>
                <td>@Html.DisplayFor(modelItem => item.ApellidoI)</td>
               @if (item.EstadoI == true)
						{
                            <td>
                                <a href="/Inquilino/Edicion/@item.InquilinoId"><i class="fa-solid fa-pen-to-square"></i></a> |
                                <a href="/Inquilino/Detalle/@item.InquilinoId"><i class="fa-solid fa-eye"></i></a> |
                                <a href="#" class="text-danger eliminar" data-url="/Inquilino/Eliminar/@item.InquilinoId"><i class="fa-solid fa-trash"></i></a>
                            </td>
						}else{
                            <td>
                               <a href="/Inquilino/Detalle/@item.InquilinoId"><i class="fa-solid fa-eye"></i></a>  |
                                <a href="#" data-url="/Inquilino/Activar/@item.InquilinoId" class="text-success activar"><i class="fa-solid fa-trash-arrow-up"></i></a>
                            </td>
							
						}
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4"><a href="/Inquilino/Edicion/"><i class="fa-solid fa-plus"></i></a></td>
        </tr>
    </tfoot>
</table>

@section Scripts{
    <script>
        $(document).ready(function() {
            $('.eliminar').click(function(e) {
                e.preventDefault(); 
                var url = $(this).data('url'); 
                Swal.fire({
                    title: "¿Eliminar Inquilino?",
                    text: "Los datos se eliminan definitivamente",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Eliminar",
                    cancelButtonText: "Cancelar"
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = url;
                    }
                });
            });
            $('.activar').click(function(e) {
				e.preventDefault(); 
				var url = $(this).data('url'); 
				Swal.fire({
					title: "¿Activar inquilino?",
					text: "Estara disponible para nuevos contratos",
					icon: "warning",
					showCancelButton: true,
					confirmButtonColor: "#3085d6",
					cancelButtonColor: "#d33",
					confirmButtonText: "Activar",
					cancelButtonText: "Cancelar"
				}).then((result) => {
					if (result.isConfirmed) {
						window.location.href = url;
					}
				});
            });
        });
        @if (TempData["Mensaje"] != null)
            {
                <text>
                Swal.fire({
                    position: "center",
                    text: '@TempData["Mensaje"]',
                    icon: 'success',
                    showConfirmButton: false,
                    timer: 1500
                });
                </text>
            }
        @if (TempData["Error"] != null)
        {
            <text>
            Swal.fire({
                position: "center",
                text: '@TempData["Error"]',
                icon: "error",
                showConfirmButton: false,
                timer: 1500
                });
            </text>
        }
    </script>
}