@model net.Models.Contrato
@{
    ViewData["Title"] = "Editar Contrato";
	int id = Model==null ? 0 : Model.ContratoId;
    var Propietarios = (IList<Propietario>)ViewBag.Propietarios;
    var Inmuebles = (IList<Inmueble>)ViewBag.Inmuebles;
    var Inquilinos = (IList<Inquilino>)ViewBag.Inquilinos;
}

<div class="text-center">
    <h1 class="display-4">@((id== 0) ? "Crear nuevo contrato" : "Editar contrato"):</h1>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Guardar" id="guardarForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input  type="hidden" name="ContratoId" value="@id" readonly/>
            <input asp-for="IdCreador" value="@User.Claims.First().Value" type="hidden" readonly>
            <div class="form-group">
                <label class="control-label">Inquilino</label>
                <select class="form-control" name="IdInquilino">
                    @foreach (var item in Inquilinos)
                    {
                        @:<option @(item.InquilinoId==Model?.IdInquilino ? "selected" : "") value="@item.InquilinoId">@(item.ToString())</option>
                    }
                </select>
                <span asp-validation-for="IdInquilino" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label class="control-label">Inmueble</label>
                <select class="form-control" name="IdInmueble">
                    @foreach (var item in Inmuebles)
                    {
                        @:<option @(item.InmuebleId==Model?.IdInmueble ? "selected" : "") value="@item.InmuebleId">@(item.DireccionI)</option>
                    }
                </select>
                <span asp-validation-for="IdInmueble" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desde" class="control-label">Desde</label>
                <input asp-for="Desde" class="form-control" type="date"/>
                <span asp-validation-for="Desde" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hasta" class="control-label">Hasta</label>
                <input asp-for="Hasta" class="form-control" type="date"/>
                <span asp-validation-for="Hasta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioContrato" class="control-label">Precio</label>
                <input asp-for="PrecioContrato" class="form-control" />
                <span asp-validation-for="PrecioContrato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" id="guardar" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al listado</a>
</div>

@section Scripts{
    <script>
     $(document).ready(function() {
           const btnEnviar = document.getElementById("guardar");
            btnEnviar.addEventListener("click",(event)=> {
                event.preventDefault();
                Swal.fire({
                    title: "¿Guardar cambios?",
                    showDenyButton: true,
                    showCancelButton: true,
                    confirmButtonText: "Guardar",
                    denyButtonText: "No guardar"
                }).then((result) => {
                    if (result.isConfirmed) {
                        const formCrea = document.getElementById("guardarForm");
                        formCrea.submit();
                    }
                });
            });
        });
    </script>
}