@model IEnumerable<net.Models.Contrato>
@{
    ViewData["Title"] = "Contrato";
	
}

<div class="text-center">
    <h1>Contratos registrados:</h1>
	
</div>
<div class="row">
    <div class="col d-flex align-items-center">
        <div class="btn-group" role="group" aria-label="Filtros de estado">
            <button type="button" class="btn btn-outline-primary" id="todosBtn">Todos</button>
            <button type="button" class="btn btn-outline-success" id="activoBtn">Activos</button>
            <button type="button" class="btn btn-outline-danger" id="desactivadoBtn">Inactivos</button>
            <button type="button" class="btn btn-outline-warning" id="vigentesBtn">Vigentes</button>
        </div>
    </div>
    <div class="col d-flex align-items-center">
        <caption >Contratos entre: </caption>
		<div class="btn-group" role="group" aria-label="Filtrar por fecha">
			<input type="date" name="Desde" id="inicio">
			<input type="date" name="Hasta" id="fin" min="#inicio">
			<button type="button" class="btn btn-outline-success" id="fechasBtn">Buscar</button>
			<button type="button" class="btn btn-outline-danger" id="sinFechasBtn">Limpiar</button>
		</div>
	</div>
    <div class="col" style="max-width: 250px; margin-bottom: 15px;">
        <label for="plazo" class="form-label">Contratos que finalizan en:</label>
        <select class="form-select" id="plazo">
            <option value="sinFiltro" selected="@(ViewBag.PlazoSeleccionado == null)">Sin plazo</option>
            <option value="30" selected="@(ViewBag.PlazoSeleccionado == 30)">30 días</option>
            <option value="60" selected="@(ViewBag.PlazoSeleccionado == 60)">60 días</option>
            <option value="90" selected="@(ViewBag.PlazoSeleccionado == 90)">90 días</option>
        </select>
        <button id="filtrarBtn" class="btn btn-primary mt-2">Filtrar</button>
    </div>
</div>

<table id="contratosTable" class="hover compact row-border">
    <thead  class="bg-dark text-white">
        <tr>
            <th>Inquilino</th>
            <th>Inmueble</th>
            <th>Propietario</th>
            <th>Inicio</th>
            <th>Fin</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="@(item.Estado == false ?  "bg-inactivos" : "")">
                <td>@(item.Inquilino)</td>
                <td>@(item.Inmueble?.DireccionI)</td>
                <td>@(item.Inmueble?.Propietario)</td>
                <td>@(item.Desde.ToString("dd/MM/yyyy"))</td>
                <td>@(item.Hasta.ToString("dd/MM/yyyy"))</td>
                <td>
                    <a href="/Contrato/Detalle/@item.ContratoId"><i class="fa-solid fa-eye"></i></a><span> | </span>
                    <a href="/Contrato/Renovar/@item.ContratoId" ><i class="fa-solid fa-rotate-right"></i></a>
                    @if(item.Estado == true && User.IsInRole("Administrador"))
					{
                        <span> | </span><a href="/Contrato/Edicion/@item.ContratoId"><i class="fa-solid fa-pen-to-square"></i></a><span> | </span>
                         <a href="#" class="abrir-pago-modal" data-id="@item.ContratoId"><i class="fa-solid fa-hand-holding-dollar"></i></a>
                        <a href="#" data-url="/Contrato/Cancelar/@item.ContratoId" class="text-danger cancelar"><i class="fa-solid fa-trash"></i></a><span> | </span>
					}
					else if(item.Estado == true )
                    {
                        <span> | </span><a href="/Contrato/Edicion/@item.ContratoId" ><i class="fa-solid fa-pen-to-square"></i></a> <span> | </span>
                        <a href="#" class="abrir-pago-modal" data-id="@item.ContratoId"><i class="fa-solid fa-hand-holding-dollar"></i></a><span> | </span>
                        <a href="#" data-url="/Contrato/Cancelar/@item.ContratoId" class="text-danger cancelar"><i class="fa-solid fa-trash"></i></a>
                    }
                </td>
                </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="6">
                <a href="/Contrato/Edicion/"> <i class="fa-solid fa-plus"></i></a>
            </td>
        </tr>
    </tfoot>
</table>


@section Scripts {
    <script>
     $(document).ready(function () {
    function modalPagar(contratoId) {
        var modal = $('#pagoModal');


        $('#contratoId').val(contratoId); 

        if (modal.length === 0) {
            $.ajax({
                url: `@Url.Action("Pagar", "Contrato")`,
                type: 'GET',
            }).done(res => {
               
                var div = document.createElement("div");
                div.innerHTML = res;
                document.body.appendChild(div); 
                $('#pagoModal').modal("show"); 
            }).fail(res => {
                console.log("Error: ", res);
            });
        } else {
            modal.modal("show"); 
        }
    }

    
    $(document).on('click', '.abrir-pago-modal', function (event) {
        event.preventDefault();
        var contratoId = $(this).data('id'); 
        modalPagar(contratoId); 
    });
   
    function cargarContratos(estado) {
        $.ajax({
            url: '@Url.Action("Index", "Contrato")',
            type: 'GET',
            data: {
                estado: estado
            },
            success: function (result) {
                $('#contratosTable tbody').html($(result).find('#contratosTable tbody').html());
                cargarEventos(); 
            }
        });
    }

    function cargarEventos() {
        $('#todosBtn').on('click', function (e) {
            e.preventDefault();
            cargarContratos('');
        });

        $('#activoBtn').on('click', function (e) {
            e.preventDefault();
            cargarContratos('activo');
        });

        $('#desactivadoBtn').on('click', function (e) {
            e.preventDefault();
            cargarContratos('inactivo');
        });

        $('#vigentesBtn').on('click', function (e) {
            e.preventDefault();
            cargarContratos('vigente');
        });

       
        $('.cancelar').click(function (e) {
            e.preventDefault();
            var url = $(this).data('url');
            Swal.fire({
                title: "¿Cancelar contrato?",
                text: "El inmueble volverá a estar disponible y podrían aplicarse multas",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Aceptar",
                cancelButtonText: "Cancelar"
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = url;
                }
            });
        });

        $('#fechasBtn').on('click', function (e) {
            e.preventDefault();
            var inicio = $('#inicio').val();
            var fin = $('#fin').val();
            $.ajax({
                url: '@Url.Action("Index", "Contrato")',
                type: 'GET',
                data: {
                    desde: inicio,
                    hasta: fin
                },
                success: function (result) {
                    $('#contratosTable tbody').html($(result).find('#contratosTable tbody').html());
                }
            });
        });

        $('#sinFechasBtn').on('click', function (e) {
            e.preventDefault();
            $.ajax({
                url: '@Url.Action("Index", "Contrato")',
                type: 'GET',
                success: function (result) {
                    $('#contratosTable tbody').html($(result).find('#contratosTable tbody').html());
                }
            });
        });

        $('#filtrarBtn').click(function () {
            var plazo = $('#plazo').val();
            if (plazo === "sinFiltro") {
                window.location.href = '/Contrato';
            } else {
                window.location.href = '/Contrato/FiltrarPorPlazo?plazo=' + plazo;
            }
        });

       
        $('.abrir-pago-modal').click(function (event) {
            event.preventDefault();
            modalPagar();
        });


    cargarEventos(); 
    }
});

    </script>
}
@await Html.PartialAsync("Pagar", new net.Models.Pago())