@model IEnumerable<net.Models.Contrato>
@{
    ViewData["Title"] = "Contrato";
	
}

<div class="text-center">
    <h3 class="display-4">Contratos registrados:</h3>
	
</div>

<table id="contratosTable" class="table display" >
    <thead>
        <tr>
            <th>ID</th>
            <th>Inquilino</th>
            <th>Inmueble</th>
            <th>Propietario</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ContratoId)</td>
                <td>@(item.Inquilino != null ? item.Inquilino.ToString() : "Inquilino no disponible")</td>
                <td>@(item.Inmueble?.Direccion != null ? item.Inmueble.Direccion.ToString() : "Direccion no disponible")</td>
                <td>@(item.Inmueble?.Propietario != null ? item.Inmueble.Propietario.ToString() : "Propietario no disponible")</td>
                <td>
                    <a href="/Contrato/Edicion/@item.ContratoId"><i class="fa-solid fa-pen-to-square"></i></a>|
                    <a href="/Contrato/Detalle/@item.ContratoId"><i class="fa-solid fa-eye"></i></a>|
                    @if (item.Estado == true)
						{
							<a href="/Contrato/Eliminar/@item.ContratoId"><i class="fa-solid fa-trash"></i></a>
						}else{
							<a href="/Contrato/Activar/@item.ContratoId"><i class="fa-solid fa-trash-arrow-up"></i></a>
						}
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5">
                <a href="/Contrato/Edicion/"> <i class="fa-solid fa-plus"></i></a>
            </td>
        </tr>
    </tfoot>
</table>


@section Scripts{
    <script>
        @if (TempData["Mensaje"] != null)
        {
            <text>
            Swal.fire({
                position: "center",
                icon: "success",
                text: '@TempData["Mensaje"]',
                showConfirmButton: false,
                timer: 1500
                });
            </text>
        }
    </script>
    <script>
    @if (TempData["Error"] != null)
    {
        <text>
        Swal.fire({
            position: "center",
            icon: "error",
            text: '@TempData["Error"]',
            showConfirmButton: false,
            timer: 1500
            });
        </text>
    }
    </script>
}